<DOCTYPE!>

<!-- Linking our JavaScript code with HTML-->
<link href="/static_files/CSS/main.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = "/static_files/JavaScript/lingo.js"></script>

<html>
<title>PLAY LINGO</title>
  <body>
   	<embed src="group-6/cssi-group6/kahoot.mp3" autostart="true" loop="true">
	<img src="https://upload.wikimedia.org/wikipedia/en/a/a3/Lingo_logo.jpg" style = "width: 250px; height: 100px;">
	<div id = "output"></div>
	<form method="get" action="">
	<h3>Guess the word: <input type="text" id = "user" name="guess" /></h3>
	<button type = "button" id = "myButton">Submit guess</button>
	</form>
  </body>
</html>